<section class="users-table">
    <h3>Your artifacts</h3>
    <h5>Your balance: {{ student.getWallet().getBalance() }}</h5>
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        {% for artifact in artifacts %}
        <tr>
            <td>{{ artifact.getName() }}</td>
            <td>{{ artifact.getDescription() }}</td>
            <td>{{ artifact.getPrice() }}</td>
        </tr>
        {% endfor %}
    </table>
</section>
