<section class="profile">
    <table>
        <tr>
            <th></th>
            <th>ADMIN</th>
        </tr>
        <tr>
            <td>NAME</td>
            <td>{{ admin.getName() }}</td>
        </tr>
        <tr>
            <td>SURNAME</td>
            <td>{{ admin.getSurname() }}</td>
        </tr>
        <tr>
            <td>E-MAIL</td>
            <td>{{ admin.getEmail().getValue() }}</td>
        </tr>
    </table>
    <div class=change-password>
        <a class="btn" id="password" href="/admin/password/edit/{{admin.getLogin().getValue()}}">Change password</a>
    </div>
</section>
