<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>questore</title>
    <link href="/static/assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
</head>

<body>

<header class="primary-header">
    <img src="/static/assets/pics/web/logo.jpg">
    <nav class="primary-nav">
        <ul>
            <li><a href="https://codecool.pl/" target="_blank">about</a></li>
            <li><a href="">contact</a></li>
            <li><a class="logout-btn" href="">logout</a></li>
        </ul>
    </nav>
</header>

<section class="menu-bar">
    <div class="frame">
        <img src="/static/assets/pics/profiles/admin.jpg">
        <nav>
            <ul class="menu-nav">
                <li><a href="/admin">profile</a></li>
                <li><a href="/admin/mentors/list">mentors</a></li>
                <li><a href="/admin/mentors/add">add mentor</a></li>
                <li><a href="/admin/groups/list">groups</a></li>
                <li><a href="/admin/gropus/add">add group</a></li>
            </ul>
        </nav>
    </div>

    <footer>
        <small>&copy; pyLamas</small>
    </footer>
</section>

<section class="profile">
    <table>
        <tr>
            <th></th>
            <th>ADMIN</th>
        </tr>
        <tr>
            <td>NAME</td>
            <td>{{ admin.getName() }}</td>
        </tr>
        <tr>
            <td>SURNAME</td>
            <td>{{ admin.getSurname() }}</td>
        </tr>
        <tr>
            <td>E-MAIL</td>
            <td>ogoreczek.j@gmail.com</td>
        </tr>
    </table>
    <div class=change-password>
        <a class="btn" id="password">Change password</a>
    </div>
</section>

</body>
</html>
