<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>questore</title>
    <link href="/static/assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
</head>

<body>

<header class="primary-header">
    <img src="/static/assets/pics/web/logo.jpg">
    <nav class="primary-nav">
        <ul>
            <li><a href="https://codecool.pl/" target="_blank">about</a></li>
            <li><a href="">contact</a></li>
            <li><a class="logout-btn" href="">logout</a></li>
        </ul>
    </nav>
</header>

<section class="menu-bar">
    <div class="frame">
        <img src="/static/assets/pics/profiles/admin.jpg">
        <nav>
            <ul class="menu-nav">
                <li><a href="/admin">profile</a></li>
                <li><a href="/admin/mentors/list">mentors</a></li>
                <li><a href="/admin/mentors/add">add mentor</a></li>
                <li><a href="/admin/groups/list">groups</a></li>
                <li><a href="/admin/groups/add">add group</a></li>
                <li><a href="/admin/cities/list">cities</a></li>
                <li><a href="/admin/cities/add">add city</a></li>
            </ul>
        </nav>
    </div>
    <footer>
        <small>&copy; pyLamas</small>
    </footer>
</section>
<form id="2" class="add" method="POST">
	<h3> Change password </h3>
	{% if msg.length > 0 %}
          <div class="fail">
            <h5>{{ msg }}!</h5>
          </div>
    	{% endif %}
	 <table class="input-table">
		<tr>
		    <th>Old password:</th>
		    <th>
		        <input type="password" name="old_password"
		               required="required">
		    </th>
		</tr>
		<tr>
		    <th>New password:</th>
		    <th>
		        <input type="password" name="new_password"
		               required="required">
		    </th>
		</tr>
		<tr>
		    <th>Repeat new password:</th>
		    <th>
		        <input type="password" name="repeated_new_password"
		               required="required">
		    </th>
		</tr>
	</table>
	<button class="submit" type="submit" form="2">submit</button>
</form>
</body>
</html>
