<img src="/static/assets/pics/profiles/{{ login }}.jpg" alt="static/assets/pics/profiles/default.jpg">
<nav>
	<ul class="menu-nav">
		<li><a href="/admin">profile</a></li>
		<li><a href="/admin/mentors/list">mentors</a></li>
		<li><a href="/admin/mentors/add">add mentor</a></li>
		<li><a href="/admin/groups/list">groups</a></li>
		<li><a href="/admin/groups/add">add group</a></li>
		<li><a href="/admin/cities/list">cities</a></li>
		<li><a href="/admin/cities/add">add city</a></li>
	</ul>
</nav>

