<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>questore</title>
  <link href="static/assets/css/main.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
</head>

<body>
  <header class="primary-header">
    <img src="static/assets/pics/web/logo.jpg">
    <nav class="primary-nav">
      <ul>
        <li><a href="">about</a></li><!--
     --><li><a href="">contact</a></li><!--
     --><li><a class="logout-btn" href="/mentor/logout">logout</a></li>
      </ul>
    </nav>
  </header>

  <section class="menu-bar">
    <div class="frame">
      <img src="static/assets/pics/profiles/{{ login }}.jpg">
      <nav>
        <ul class="menu-nav">
          <li><a href="/mentor">profile</a></li>
	  <li><a href="/mentor/groups">groups</a></li>
          <li><a href="/mentor/quest/show">quests</a></li>
          <li><a href="/mentor/artifact/show">artifacts</a></li>
        </ul>
      </nav>
    </div>

    <footer>
      <small>&copy; pyLamas</small>
    </footer>
  </section>
  <section class="profile">
      <table>
          <tr>
              <th></th>
              <th>MENTOR</th>
          </tr>
          <tr>
              <td>NAME</td>
              <td>{{ mentor.getName() }}</td>
          </tr>
           <tr>
              <td>SURNAME</td>
              <td>{{ mentor.getSurname() }}</td>
          </tr>
           <tr>
              <td>E-MAIL</td>
              <td>aga@gmail.com</td>
          </tr>
          <tr>
              <td>GROUP</td>
              <td>2017.1.KRK  A</td>
          </tr>
      </table>
      <div class=change-password>
         <a class="btn" id="password">Change password</a>
      </div>
  </section>
</body>
</html>
