<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>questore</title>
    <link href="/static/assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
</head>

<body>
<header class="primary-header">
    <img src="/static/assets/pics/web/logo.jpg">
    <nav class="primary-nav">
        <ul>
            <li><a href="">about</a></li><!--
     --><li><a href="">contact</a></li><!--
     --><li><a class="logout-btn" href="">logout</a></li>
        </ul>
    </nav>
</header>
<section class="menu-bar">
    <div class="frame">
        <img src="/static/assets/pics/profiles/student.jpg">
        <nav>
            <ul class="menu-nav">
                <li><a href="/mentor">profile</a></li>
                <li><a href="/mentor/groups">groups</a></li>
                <li><a href="/mentor/teams">teams</a></li>
                <li><a href="/mentor/quest/show">quests</a></li>
                <li><a href="/mentor/artifact/show">artifacts</a></li>
            </ul>
        </nav>
    </div>
    <footer>
        <small>&copy; pyLamas</small>
    </footer>
</section>

<form id="2" class="add" method="POST">
    {% if team != null %}
    <h3>Edit team {{ team.getName }}</h3>
    {% else %}
    <h3>Add new team</h3>
    {% endif %}

    {% if name.length > 0 %}
    <div class="fail">
        <h5>Team with this name already exists!</h5>
    </div>
    {% endif %}

    <table class="input-table">
        <tr>
            <th>Team Name:</th>
        </tr>
        <tr>
            <th>Name:</th>
            <th>
                <input type="text" name="name"
                       value="{{ team.getName }}{{ name }}"
                       title="Name should be between 3 and 25 letters long"
                       pattern="[a-zA-ZąćęłńóśźżĄĆĘŁŃÓŚŹŻ][ a-zA-ZąćęłńóśźżĄĆĘŁŃÓŚŹŻ]{2,25}"
                       required="required">
            </th>
        </tr>
    </table>
    <button class="submit" type="submit" form="2">submit</button>
</form>

</body>
</html>
