<img src="/static/assets/pics/profiles/{{ login }}.jpg" alt="static/assets/pics/profiles/default.jpg">
<nav>
	<ul class="menu-nav">
		  <li><a href="/mentor">profile</a></li>
		  <li><a href="/mentor/groups">groups</a></li>
		  <li><a href="/mentor/quest/show">quests</a></li>
		  <li><a href="/mentor/artifact/show">artifacts</a></li>
	</ul>
</nav>	
