<form id="2" class="add" method="POST">
	<h3> Change password </h3>
	{% if msg.length > 0 %}
          <div class="fail">
            <h5>{{ msg }}!</h5>
          </div>
    	{% endif %}
	 <table class="input-table">
		<tr>
		    <th>Old password:</th>
		    <th>
		        <input type="password" name="old_password"
		               required="required">
		    </th>
		</tr>
		<tr>
		    <th>New password:</th>
		    <th>
		        <input type="password" name="new_password"
		               required="required">
		    </th>
		</tr>
		<tr>
		    <th>Repeat new password:</th>
		    <th>
		        <input type="password" name="repeated_new_password"
		               required="required">
		    </th>
		</tr>
	</table>
	<button class="submit" type="submit" form="2">submit</button>
</form>
