<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>questore</title>
    <link href="/static/assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
</head>

<body>

<header class="primary-header">
    <img src="/static/assets/pics/web/logo.jpg">
    <nav class="primary-nav">
        <ul>
            <li><a href="https://codecool.pl/" target="_blank">about</a></li>
            <li><a href="">contact</a></li>
            <li><a class="logout-btn" href="{{logout_path}}">logout</a></li>
        </ul>
    </nav>
</header>

<section class="menu-bar">
    <div class="frame">
    	{% include nav_path ignore missing %}
    </div>

    <footer>
        <small>&copy; pyLamas</small>
    </footer>
</section>
{% include content_path ignore missing %}
</body>
</html>
